<div class="content">
  <% @podcasts.each do |p| %>
    <div class="podcast">
      <img src="<%= p.image %>" title="<%= p.title %>">
      <span class="title">
        <%= p.title %>
      </span>
    </div>
  <% end %>
</div>
