<ul class="nav">
  <% homePage = podcastPage = ''
    if (current_page?(:controller => 'home'))
      homePage = 'active'
    elsif (current_page?(:controller => 'podcasts'))
      podcastPage = 'active'
    end
    %>
  <li class="<%= homePage %>"><a href="/">home</a></li>
  <li class="<%= podcastPage %>"><%= link_to 'podcasts', podcasts_path() %></li>
</ul>